Package: rabbitvcs-nemo
Version: 0.18
Maintainer: Eric Beuque
Architecture: all
Description: RabbitVCS with Nemo integration
Depends: python3-svn, python3-dulwich, python3-tk
Conflicts: rabbitvcs-core
